*~
#*
*#
singularity-*.tar.gz
*.m4
*.pyc
*.swp
generate_docs

.vscode
.DS_store
.idea/
builddir/
internal/pkg/buildcfg/config.go
singularity.spec
trash.lock
Makefile.in
autom4te.cache/
bin/Makefile
bin/Makefile.in
bin/singularity
compile
configure
depcomp
etc/singularity.conf
etc/Makefile
etc/Makefile.in
examples/plugins/test-plugin/*.so
examples/plugins/test-plugin/*.sif
examples/plugins/test-plugin/*.manifest
install-sh
libexec/Makefile
libexec/Makefile.in
libexec/cli/Makefile
libexec/cli/Makefile.in
libexec/mods/Makefile
libexec/mods/Makefile.in
libexec/bootstrap-scripts/environment/environment.tar
libtool
ltmain.sh
missing
src/util/config_defaults.h
secbuildimg.sh

docs/man/singularity*

src/pkg/buildcfg
src/action
src/action-suid
src/start
src/start-suid
src/builddef
src/cleanupd
src/image-type
src/mount
src/mount-suid
src/sif
src/sinit
src/get-section
src/sign
src/verify
src/stamp-h1
src/include/stamp-h1
src/.dirstamp
src/wrapper
src/wrapper-suid

src/.deps/
src/.libs/
src/lib*.la
src/*.o
src/*.lo
src/slurm/singularity_spank.la

src/*/.deps/
src/*/.libs/
src/*/lib*.la
src/*/*.o
src/*/*.lo
src/*/.dirstamp

src/*/*/.deps/
src/*/*/.libs/
src/*/*/lib*.la
src/*/*/*.o
src/*/*/*.lo
src/*/*/.dirstamp

src/*/*/*/.deps/
src/*/*/*/.libs/
src/*/*/*/lib*.la
src/*/*/*/*.o
src/*/*/*/*.lo
src/*/*/*/.dirstamp

src/*/*/*/*/.deps/
src/*/*/*/*/.libs/
src/*/*/*/*/lib*.la
src/*/*/*/*/*.o
src/*/*/*/*/*.lo
src/*/*/*/*/.dirstamp

build/*
runtime/cli

pkg/library/client/test[0-9]*
