*~
#*
*#
src/*.o
singularity-*.tar.gz
*.m4
config.*
*.pyc

Makefile
Makefile.in
autom4te.cache/
bin/Makefile
bin/Makefile.in
bin/singularity
compile
configure
depcomp
etc/singularity.conf
etc/Makefile
etc/Makefile.in
install-sh
libexec/Makefile
libexec/Makefile.in
libexec/cli/Makefile
libexec/cli/Makefile.in
libexec/mods/Makefile
libexec/mods/Makefile.in
libexec/bootstrap-scripts/environment/environment.tar
libtool
ltmain.sh
missing
singularity.spec
src/util/config_defaults.h
test.sh

src/action
src/action-suid
src/start
src/start-suid
src/builddef
src/cleanupd
src/image-type
src/mount
src/mount-suid
src/prepheader
src/sinit
src/get-section
src/stamp-h1
src/include/stamp-h1
src/.dirstamp
src/sinit
src/start
src/start-suid

src/.deps/
src/.libs/
src/lib*.la
src/*.o
src/*.lo
src/slurm/singularity_spank.la

src/*/.deps/
src/*/.libs/
src/*/lib*.la
src/*/*.o
src/*/*.lo
src/*/.dirstamp

src/*/*/.deps/
src/*/*/.libs/
src/*/*/lib*.la
src/*/*/*.o
src/*/*/*.lo
src/*/*/.dirstamp

src/*/*/*/.deps/
src/*/*/*/.libs/
src/*/*/*/lib*.la
src/*/*/*/*.o
src/*/*/*/*.lo
src/*/*/*/.dirstamp

src/*/*/*/*/.deps/
src/*/*/*/*/.libs/
src/*/*/*/*/lib*.la
src/*/*/*/*/*.o
src/*/*/*/*/*.lo
src/*/*/*/*/.dirstamp

