*~
COPYING
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/Makefile
bin/Makefile.in
bin/singularity
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libexec/Makefile
libexec/Makefile.in
libexec/cli/Makefile
libexec/cli/Makefile.in
libexec/mods/Makefile
libexec/mods/Makefile.in
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
singularity.spec
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/ftrace
src/sexec
src/sappbuild
src/sappdump
src/sapplauncher
src/sappmeta
src/*.o
src/stamp-h1
singularity-*.tar.gz
