language: go

sudo: required
dist: trusty

go:
  - "1.10.x"

addons:
  apt:
    packages:
      - flawfinder
      - squashfs-tools
      - uuid-dev
      - libuuid1
      - libssl-dev
      - libssl1.0.0
      - libarchive-dev
      - libgpgme11-dev
      - libseccomp-dev

before_install:
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - go get -u golang.org/x/lint/golint
  - export PATH="${GOPATH}/bin:${PATH}"

install:
  - ./mconfig -p /usr/local
  - cd builddir
  - make -j `nproc 2>/dev/null || echo 1`
  - sudo make install

script:
  - make test
