language: go

sudo: required
dist: trusty

go:
  - "1.11"

addons:
  apt:
    packages:
      - flawfinder
      - squashfs-tools
      - uuid-dev
      - libuuid1
      - libssl-dev
      - libssl1.0.0
      - libarchive-dev
      - libgpgme11-dev
      - libseccomp-dev

matrix:
  include:
    - os: linux
    - os: linux
      env: OS_TYPE=centos OS_VERSION=6
    - os: linux
      env: OS_TYPE=centos OS_VERSION=7

services:
  - docker

before_install:
  - .travis/before_install

install:
  - # override the default go install target

script:
  - .travis/script
