{{- if .Bootstrap}}
Bootstrap: {{.Bootstrap}}
{{- end}}

{{- if .From}}
From: {{.From}}
{{- end}}

{{- if .Registry}}
Registry: {{.Registry}}
{{- end}}

{{- if .Namespace}}
Namespace: {{.Namespace}}
{{- end}}

{{- if .Stage}}
Stage: {{.Stage}}
{{- end}}



{{- if .Help}}
%help
{{- end}}
{{- range $l := .Help}}
    {{$l}}
{{- end}}

{{- if .Env}}
%environment
{{- end}}
{{- range $l := .Env}}
    export {{$l}}
{{- end}}

{{- if .Labels}}
%labels
{{- end}}
{{- range $k, $v := .Labels}}
    {{$k}} {{$v}}
{{- end}}

{{- if .Files}}
%files
{{- end}}
{{- range $f := .Files}}
    {{$f.Src}} {{$f.Dst}}
{{- end}}

{{- range $ff := .FilesFrom}}
%files from {{$ff.Stage}}
{{- range $f := $ff.Files}}
    {{$f.Src}} {{$f.Dst}}
{{- end}}
{{- end}}

{{- if .Pre}}
%pre
{{- end}}
{{- range $l := .Pre}}
    touch {{$l}}
{{- end}}

{{- if .Setup}}
%setup
{{- end}}
{{- range $l := .Setup}}
    touch {{$l}}
{{- end}}

{{- if .Post}}
%post
{{- end}}
{{- range $l := .Post}}
    touch {{$l}}
{{- end}}

{{- if .RunScript}}
%runscript
{{- end}}
{{- range $l := .RunScript}}
    {{$l}}
{{- end}}

{{- if .Test}}
%test
{{- end}}
{{- range $l := .Test}}
    {{$l}}
{{- end}}

{{- if .StartScript}}
%startscript
{{- end}}
{{- range $l := .StartScript}}
    {{$l}}
{{- end}}






{{- range $app := .Apps}}

{{- if $app.Help}}
%apphelp {{$app.Name}}
{{- end}}
{{- range $l := $app.Help}}
    {{$l}}
{{- end}}

{{- if $app.Env}}
%appenv {{$app.Name}}
{{- end}}
{{- range $l := $app.Env}}
    export {{$l}}
{{- end}}

{{- if $app.Labels}}
%applabels {{$app.Name}}
{{- end}}
{{- range $k, $v := $app.Labels}}
    {{$k}} {{$v}}
{{- end}}

{{- if $app.Files}}
%appfiles {{$app.Name}}
{{- end}}
{{- range $f := $app.Files}}
    {{$f.Src}} {{$f.Dst}}
{{- end}}

{{- if $app.Install}}
%appinstall {{$app.Name}}
{{- end}}
{{- range $l := $app.Install}}
    touch {{$l}}
{{- end}}

{{- if $app.Run}}
%apprun {{$app.Name}}
{{- end}}
{{- range $l := $app.Run}}
    {{$l}}
{{- end}}

{{- if $app.Test}}
%apptest {{$app.Name}}
{{- end}}
{{- range $l := $app.Test}}
    {{$l}}
{{- end}}

{{- end}}