# Singularity crypto verified container whitelist config file
#
# This file describes the domains (path names) in which container files are
# authorized execution. The decision is made by validating both the location
# of the container file in the file system and the signing authority of said
# container.
#
# Example:
#
# activated = true
#
#[[authorized]]
#  path = "/var/cache/containers"
#  entities = [
#	"5994BE54C31CF1B5E1994F987C52CF6D055F072B",
#	"7064B1D6EFF01B1262FED3F03581D99FE87EAFD1"
#  ]
#
#[[authorized]]
#  path = "/tmp/containers"
#  entities = [
#	"7064B1D6EFF01B1262FED3F03581D99FE87EAFD1"
#  ]
#
# The above example defines to domains (/var/cache/containers and
# /tmp/containers), in which only containers signed with Key IDs 055F072B and
# E87EAFD1 may run if started from /var/cache/containers and only container
# signed with Key ID E87EAFD1 may run is started from /tmp/containers.
#

activated = true

[[authorized]]
  path = "/var/cache/containers"
  entities = [
	"5994BE54C31CF1B5E1994F987C52CF6D055F072B",
	"7064B1D6EFF01B1262FED3F03581D99FE87EAFD1"
  ]

[[authorized]]
  path = "/tmp/containers"
  entities = [
	"7064B1D6EFF01B1262FED3F03581D99FE87EAFD1"
  ]
