html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 0 20px #B28B2C;
}

body {
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: black;
}

a {
    color: #b28b2c;
    text-decoration: none;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

code, pre {        
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;        
    color: #DEDEDE;        
    font-size: 12px;      
    padding: 8px 15px;       
    background: #2A2A2A;        
    border-radius: 5px;        
    border:1px solid #C9C9C9;     
    overflow-x: auto;        
}

.loud {
    color: #AF1C0E;
    font-weight: 700;
    font-size: 120%
}

p {
    padding-left: 10px;
}

#container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-left: 100px;
    display: block;
    max-width: 1200px;
    border: 1px;
    min-height: 600px;
}

#logo {
    float: right;
    position-right: absolute;
    border: 0px;
    margin-right: 50px;

}

#navtext {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 50px;
    margin-right: 10px;
    font-size: 24px;
}


.footer {
    display: block;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    border: 1px;
    border-top-style: solid;
    border-color: #b28b2c;
    font-size: 12px;
    clear: both;
}

.navbar {
    display: inline-block;
    font-weight: 500;
    line-height: 50px;
    background-color: #b28b2c;
    width: 100%;
    margin-top: 0px;
    font-size: 14px;
    /*
    position: relative;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px;
    border-style: solid;
    border-color: white;
    min-height: 100px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    */
}

.navbar ul {
    display: inline;
    width: 100%;
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0px;
}

.navbar li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar li a {
    text-decoration: none;
    color: white;
}
.navbar li a:hover {
    color: black;
}
.navbar a {
    color: #b28b2c;
    text-decoration: underline;
    font-size: 15px;

}


/*
@media (max-width: 768px) {
    #logo {
        width: 100%;
        height: 100%;
    }
}
*/
