html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: black;
    text-shadow: 0 0 2px #939491;
}

a {
    color: #b28b2c;
    text-decoration: underline;
    font-size: 105%;
}

h1, h2, h3, h4 {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 175%;
}

h4 {
    padding-top: 10px;
    font-weight: 600;
    font-size: 120%;
}

.loud {
    color: #AF1C0E;
    text-shadow: 0 0 2px #AF1C0E;
}

code, pre {        
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;        
    color: #DEDEDE;        
    font-size: 12px;      
    padding: 8px 15px;       
    background: #2A2A2A;        
    border-radius: 5px;        
    border:1px solid #C9C9C9;     
    overflow-x: auto;
    text-shadow: none;
}

p {
    color: LightGray ;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}

#back_link {
    display: block;
    margin-top: 80px;
    padding: 0px;
}

#container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    display: block;
    max-width: 1200px;
    border: 1px;
    min-height: 600px;
}

#logo {
    float: right;
    position-right: absolute;
    border: 0px;
    margin-right: 50px;

}

#navtext {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 50px;
    margin-right: 10px;
    font-size: 24px;
}


.footer {
    display: block;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    border: 1px;
    border-top-style: solid;
    border-color: #b28b2c;
    font-size: 12px;
    clear: both;
}



.navbar {
    display: inline-block;
    font-weight: 500;
    line-height: 50px;
    background-color: #b28b2c;
    width: 100%;
    margin-top: 0px;
    font-size: 14px;
    position:fixed;
    top: 0;
    /*
    position: relative;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px;
    border-style: solid;
    border-color: white;
    min-height: 100px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    */
}


.navbar ul {
    display: inline;
    width: 100%;
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0px;
}

.navbar li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar li a {
    text-decoration: none;
    color: white;
}
.navbar li a:hover {
    color: black;
}
.navbar a {
    color: #b28b2c;
    text-decoration: underline;
    font-size: 15px;

}


.popup-background {
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
.popup-content {
    max-width:700px;
    width:90%;
    padding:40px;
    padding-top: 10px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow: 0 0 16px #C9C9C9;
    border-radius:5px;
    border:1px solid #C9C9C9;
    background: #404040;
}
 
.popup-close {
    width:30px;
    height:30px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    background:rgba(0,0,0,0.8);
    border:1px solid #C9C9C9;
    font-family:Arial, Sans-Serif;
    font-size:26px;
    text-align:center;
    line-height:100%;
    color:#fff;
    text-decoration: none;
}
 
.popup-close:hover {
    background:rgba(255,0,0,2);
}
